<div id="main" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <h1><span class="text-muted">Audio track detail</span></h1>
            <div ng-if="successmessage" class="alert alert-success">Success message: {{successmessage}}</div>
            <div class="col-md-12">
                <div class="panel panel-orange">
                <div class="panel panel-heading"><h2>{{ file.title }}</h2></div>
                    <div class="panel panel-body">
                        <div class="col-md-3">
                            <!-- <h4>Album</h4> -->
                            <img class="img-responsive" ng-src="https://placeholdit.imgix.net/~text?txtsize=24&bg=7fb8a5&txtclr=ffffff&txt={{file.album}}&w=300&h=300&fm=png&txttrack=0">
                            <p>Album: {{ file.album}}</p>
                        </div>
                        <div class="col-md-3">
<!--                             <h4>Source</h4><p>{{file.composer }}</p>
                            <h4>Genre</h4><p>{{file.genre}}</p>
 -->                            
                            <h4>Performers</h4>
                            <ul>
                                <li ng-repeat="performer in file.performers" 
                                <a ui-sref="files">{{ performer }}</a>
                                </li>
                            </ul>
                            <h4 ng-if="file.description">Description</h4><p ng-if="file.description">{{ file.description }}</p>

                        </div>
                        <div class="col-md-3">
                            <div id="player">
                                <h4>Play audio</h4>
                                <button class="btn btn-default" ng-click='audioObject.paused ? audioObject.play() : audioObject.pause()'>Play/Pause</button>
                                 <!-- <button ng-click='audioObject.restart()'>Stop</button> -->
                                <button  class="btn btn-default" ng-click='audioObject.muting = !audioObject.muting'>Mute</button>
                                <h4>Download file</h4>
                                <button class="btn btn-default" ng-click="downloadFile(file)">Download file</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="well">
                                <h5>Source/Composer</h5><p class="text-muted">{{file.composer }}</p>
                                <h5>Genre</h5><p class="text-muted">{{file.genre}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>