<div id="main" style="padding-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Upload a file in 3 easy steps!</span></h1>
                
            </div>
        </div>
        <div class="row">
            <form id="upload-form" ng-model="upload" name="uploadForm" ng-submit="submitUpload(upload)"> 
            <div class="col-lg-3 col-sm-12" id="selectfile">
                <div class="panel panel-orange">
                    <div class="panel-heading"><h2>1. Select a file</h2></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>File to upload:</label>
                             <div class="btn"><a ng-click="pickFile()" data-fp-store-location="s3">Select File</a></div>
                        </div>
                    </div>
                </div>

            </div> <!-- close column -->

            <div class="col-lg-5 col-sm-12" id="tagfile">
                <div class="panel panel-orange">
                    <div class="panel-heading"><h2>2. Tag the file</h2></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="title">Track title</label>
                            <input type="text" ng-model="upload.title" class="form-control" id="title" placeholder="Enter song title">
                        </div>
                        <label for="input">Performer</label>
                        <div class="form-group" data-ng-repeat="performer in performers">
                            <!-- <div > -->
                                <input class="form-control" type="text" ng-model="performer.name" name="" placeholder="Enter performer name">
                            <!-- </div> -->
                        </div>
                        <div class="form-group">
                            <div class='btn'><a ng-click="addNewPerformer()">Add another performer</a></div>
                        </div>
                        <div class="form-group">
                            <label for="album">Album, Concert, Festival, or Event</label>
                            <input type="text" ng-model="upload.album" class="form-control" id="album" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="source">Original source or Composer</label>
                            <input type="text" ng-model="upload.composer" class="form-control" id="source" placeholder="Enter original composer or source of tune/song">
                        </div>
                        <div class="form-group">
                            <label for="genre">Genre</label>
                             <select ng-model="upload.genre" class="form-control" id="genre" placeholder="Select genre">
                                <option ng-repeat="genre in genreArray" >{{genre}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea rows="4" ng-model="upload.description" class="form-control" id="description" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="picture">Image URL:</label>
                            <input type="text" ng-model="upload.picture" class="form-control" id="picture" placeholder="Enter URL beginning with http://">
                        </div>
                    </div>
                </div>
            </div> <!-- close column -->

            <div class="col-lg-4 col-sm-12" id="userinfo">
                <div class="panel panel-orange">
                    <div class="panel panel-heading"><h2>3. Enter your info</h2></div>
                    <div class="panel panel-body">
                        <div class="form-group">
                            <label for="upload-username">Your name</label>
                            <input type="username" ng-model="upload.recordedBy" class="form-control" id="upload-username" placeholder="username">
                        </div>
                        <button type="submit" class="btn btn-lightblue">Upload file!</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                        </form> 
                    </div>
                </div>
            </div> <!-- close column -->
        </div> <!-- close row -->
    </div> <!-- close container -->
</div>
