/* overrides to startbootstrap theme */

/*#main {
	padding-top: 0;
}*/

/* colors

light pink background: #f5dbd5;
brown navbar: #401910;
peachy orange: #de6d35;
light blue-green: #7fb8a5;
dark green: #0a3627;
deep orange: #bf3f1f;

*/

body, select, option, button { /* input */
	background-color: #f5dbd5;
	color: #401910;
}

body {
	background-image:
	    linear-gradient(
	      to bottom,  
	      #f5dbd5,
	      #ffffff
	    );
}
 a.btn.btn-primary,
 input.btn {
 	background-color: #de6d35;
 	border-color: #de6d35;
 	color: #f5dbd5;
 	&:hover {
 		color: #333;
 	}
}


/* 	background-color: #7fb8a5;
 	color: #0a3627;
 	border-color: #7fb8a5;
*/
/* 	background-color: #401910;
 	color: #f5dbd5;
 	border-color: #401910;
*/ 


h1, h2, h3, h4, h5 {
	color: #de6d35;
}

a {
	color: #bf3f1f;
}
[ui-sref]:hover{
  cursor: pointer;
}

img {
	&.branding {
	border: 4px solid #222;
	}
	&.pullup {
		margin-top: -30px;
	}
}

.pull-right {
	&.corner {
	    position: absolute;
	    right: 4%;
	    top: 20%;
	    z-index: 1000;
	}
}

nav, .navbar-inverse {
	background-color: #3b160a;
	color: #dba135;
	font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

/*

Comfortaa:400,700,300
Syncopate:400,700
Monoton
Oleo+Script+Swash+Caps:400,700

*/


/*
Arvo:400,400italic,700
Josefin+Slab:400,600,700,300
Prata
Suranna
*/



a.navbar-brand,
ul.navbar-nav li a {
	color: #ffffff !important; 
	&:hover {
		color: #9d9d9d !important;
	}
}


h1 { 
	font-family: 'Oleo Script Swash Caps', Garamond, Times, serif;
	font-weight: 700;
}
h2 {
	font-family: 'Oleo Script Swash Caps', Garamond, Times, serif;
	font-weight: 500;
}
h3, h4, h5, button, select, option, a.btn { /* input */
	font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
}
p  {
	font-family: 'Arvo', Garamond, Times, serif;
}

/* 400,700,500 */

/*

.headline {
	h2,h3 {
		color: #fff;
		text-shadow: 2px 2px #65c9c8;
	}
	h1,h2,h3 {
		background: rgba(255, 255, 255, 0.2);

	}
}

.navbar-inverse {
	background-color: #65c9c8;
	.navbar-nav > li > a {
		color: #222;
	}
}
*/
/* red: b32428;
light blue: 65c9c8;
*/

/* filestack */
.fp__btn {
	background-color: blue !important;
	&:hover {
		background-color: purple !important;
	}
}

navbar {
	border-bottom: none;
}


.headline h1,
.headline h3 {
	background-color: transparent;
	background: rgba(255, 255, 255, 0.1);
	color: #cecece; /* blueish: #7fb3b8; */ /* yellowish: #dba63b; */
}

.headline h3 {
	font-family: 'Oleo Script Swash Caps', Garamond, Times, serif;
}

.panel-orange .panel-heading {
	background-color: #bf3f1f;
	h2 {
		color: #fff;
		font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
	}
}


.navbar-brand,
header .headline h1,
.full .headline h1 {
	/*color: #7fb3b8;*/
	/*color: #dba63b;*/
	color: white;
	font-family: 'Monoton', Helvetica, Arial, sans-serif;
}

footer, footer p {
	color: #fdfdfd;
}

/*#main {
	padding-top: 120px;
}*/

.text-muted {
	color: #b08d87;
}

.btn.btn-lightblue {
	background-color: #0a3627;
	border-color: #7fb8a5;
	color: #fff;
	&:hover {
		background-color: #72b09b;
	}
}

div.btn {
	border-color: #de6d35;
	background-color: #de6d35;
	color: #fff;
	a {
		color: #fff;
		cursor: pointer;
		font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
	}
	&:hover {
		background-color: #fff;
		a {
			color: #de6d35;
		}
	}
}