<!DOCTYPE html>
<html lang="en"  ng-app="AudioRepoApp"> 
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Audio Repo</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />

    <!-- jQuery as specified by StartBootstrap theme -->
    <script src="js/startbootstrap/jquery.js"></script>

    <!-- Bootstrap JS is required by by StartBoostrap theme -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- FSG files --> 
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-local-storage/dist/angular-local-storage.js"></script>

    <script src="/main.js"></script>

    <!-- ANGULAR FILEPICKER SCRIPTS -->
    <script src="/filepicker-js/filepicker.js"></script>
    <script src="/angular-filepicker/dist/angular_filepicker.js"></script>

    <!-- ANGULAR AUDIO -->
    <script src="/angular-audio/app/angular.audio.js"></script>
    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="/angular-audio/app/scripts/main.js"></script>

    <!-- Angular update metadata -->
    <script src="/angular-update-meta/dist/update-meta.min.js"></script>

    <!-- jquery mb mini audio player -->
    <!-- <script src="/jquery.mb.miniAudioPlayer/dist/jQuery.mb.miniAudioPlayer.min.js"></script> -->

    <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Monoton|Oleo+Script+Swash+Caps:400,700|Arvo:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Gulped CSS file -->

    <link rel="stylesheet" type="text/css" href="/style.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="full">
    
<navbar></navbar> <!-- see navbar directive: browser > js > common > directives > navbar -->

    <!-- from FSG -->
    <!-- <div id="main" ng-class="{full: $state.includes('home')}" ui-view>  -->
    <div ui-view>
    </div> <!-- // end #main -->


    <!-- Footer from FSG -->
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right"><p>Generated at Fullstack / Grace Hopper</p></div>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


</body>

</html>
